.home {
    text-align: center;
   
}

.home::before {
    content: '';
    position: fixed;
    z-index: -1;
    display: block;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('../LandingPage/Landing\ img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.nav {
    background-color: #0076b6d0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    backdrop-filter: blur(4px);
    /* border-radius: 0px 0px 30px 30px; */
}

.sort {
    font-size: 1rem;
    border: none;
    border-radius: 8px 0px 0px 8px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    margin-right: 2px;
    font-weight: bold;
}
.sort:hover {
    cursor: pointer;
}

.origin {
    font-size: 1rem;
    border-color: #0077B6;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    border: none;
    margin-right: 2px;
    font-weight: bold;

}
.origin:hover {
    cursor: pointer;
}

.type {
    font-size: 1rem;
    border: none;
    border-radius: 0px 8px 8px 0px;
    padding-left: 5px;
    padding-right: 5px;
    height: 28px;
    font-weight: bold;

}
.type:hover {
    cursor: pointer;
}

.create {
    color: white;
    font-weight: bold;
    background-color: #023E8A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .3s;

}
.create:hover {
    background-color: #023b86ab;
    transform: scale(1.1);
    transition: transform .3s;
}

.reload {
    color: white;
    font-weight: bold;
    background-color: #023E8A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    transition: transform .3s;

}
.reload:hover {
    background-color: #023b86b0;
    transform: scale(1.1);
    transition: transform .3s;
}

.logo {
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}