.card {
  /* width: 150px; */
  font-size: 1.25rem;
  background-color: rgba(0, 255, 255, 0.801);
  border-radius: 15px;
  text-decoration: none;
  color: black;
  transition: transform .3s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.card:hover {
    transform: scale(1.1);
    transition: transform .3s;
    z-index: 0;
    overflow: hidden;
}

.types {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(245, 245, 220, 0.589);
    border-radius: 0px 0px 15px 15px;
}